#__gust_calender_container {
    width: 308px;
    height: auto;
    box-shadow: 2px 2px 5px rgba(0,0,0,.1);
    border: 1px solid #00bfff;
    position: absolute;
    border-radius: 3px;
    font-family: "微软雅黑", "黑体", Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 99999999;
}
#__gust_calender_container .console {
    width: auto;
    height: 28px;
    line-height: 28px;
    padding: 5px;
    background-color: #00bfff;
    cursor: default;
}
#__gust_calender_container .console .year {
    width: 50%;
    height: 100%;
    float: left;
}
#__gust_calender_container .console .year .prev-btn, #__gust_calender_container .console .month .prev-btn {
    width: 28px;
    height: 100%;
    float: left;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 50%;
    font-family: monospace;
}
#__gust_calender_container .console .year .label, #__gust_calender_container .console .month .label {
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    width: auto;
    height: 100%;
    margin: 0 27px;
    border-left: 1px solid #00bfff;
    border-right: 1px solid #00bfff;
}
#__gust_calender_container .console .year .next-btn, #__gust_calender_container .console .month .next-btn {
    width: 28px;
    height: 100%;
    float: right;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 50%;
    font-family: monospace;
}
#__gust_calender_container .console .year .next-btn:hover, #__gust_calender_container .console .month .next-btn:hover,
#__gust_calender_container .console .year .prev-btn:hover, #__gust_calender_container .console .month .prev-btn:hover{
    background-color: #ffffff;
    color: #00bfff;
}
#__gust_calender_container .console .month {
    width: auto;
    height: 100%;
    margin-left: 50%;
    border-left: 1px solid #00bfff;
}
#__gust_calender_container .week{
    width: auto;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    border-bottom: 1px solid #dddddd;
    background-color: #eeeeee;
    color: #999999;
}
#__gust_calender_container .week .label{
    float: left;
    width: 44px;
    text-align: center;
}
#__gust_calender_container .grids {
    width: auto;
    height: auto;
    margin: 5px 0;
    border-radius: 3px;
}
#__gust_calender_container .grids .date-grid-row {
    width: 100%;
    height: 44px;
}
#__gust_calender_container .grids .date-grid-row .date-grid {
    width: 40px;
    height: 36px;
    float: left;
    text-align: center;
    font-size: 14px;
    color: #212121;
    line-height: 18px;
    padding: 4px 2px;
    border-radius: 50%;
    cursor: default;
    transition: box-shadow 0.1s ease-in, background 0.1s ease-in, color 0.1s ease-in;
}
#__gust_calender_container .grids .date-grid-row .date-grid.disable{
    transition: none !important;
}
#__gust_calender_container .grids .date-grid-row .date-grid:hover{
    background-color: #00bfff;
    color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 191, 255, 0.5);
}
#__gust_calender_container .grids .date-grid-row .date-grid.active{
    background-color: #00bfff;
    color: #ffffff;
}
#__gust_calender_container .grids .date-grid-row .date-grid .sd {
    font-weight: bold;
}
#__gust_calender_container .grids .date-grid-row .date-grid.disable .sd{
    color: #dddddd;
}
#__gust_calender_container .grids .date-grid-row .date-grid.disable:hover{
    background-color: transparent;
    color: #dddddd;
    box-shadow: none;
}
#__gust_calender_container .grids .date-grid-row .date-grid .ld {
    width: 100%;
    font-size: 12px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}